{% extends 'base.html' %}

{% block menu %}
    <li><a href="{% url 'task_add' %}">Add Task</a></li>
{% endblock %}

{% block content %}
    <h1>Tasks:</h1>
    <hr/>
    <form action="{% url 'tasks_delete' %}" method="post">
    {% csrf_token %}
    {% for task in tasks %}
        <h2>{{ task.description }}</h2>
        <div>{{ task.date }}</div>
        <input type="checkbox" name="delete" value="{{ task.pk }}">For delete<Br>
        <p><a href="{% url 'task_view' task.pk %}">More...</a></p>
        <p><a href="{% url 'task_update' task.pk %}">Edit</a></p>
        <p><a href="{% url 'task_delete' task.pk %}">Delete</a></p>
        <hr/>
    {% endfor %}
        <p><input type="submit" value="Delete"></p>
</form>
{% endblock %}
